NEXT_PUBLIC_PRIVY_APP_ID=cmqx65j8s006w0cietx8rb9su
NEXT_PUBLIC_PRIVY_CLIENT_ID=client-WY6aV5oZSuds7zseYEFPcNgwMp3HJKHrcrgH5oyTr57y1
NEXT_PUBLIC_NAVY_API_URL=http://localhost:3000
NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
